<!--header-->
<header th:fragment="header" id="header" class="header">
	<nav class="nav">		
		<a th:href="@{/admin/user/new}" class="nav-link" sec:authorize="hasRole('ADMIN')">
			ユーザー登録
		</a>
	    <a th:href="@{/users}" class="nav-link">
	        ユーザー一覧
	    </a>
	    <a th:href="@{/skills}" class="nav-link">
	        スキル一覧
	    </a>
		
		<!--ログイン後-->
		<div sec:authorize="isAuthenticated()">
			<form th:action="@{/logout}" method="post">
				<button type="submit" class="nav-link nav-btn">ログアウト</button>
			</form>
		</div>
	</nav>
</header>
