<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ユーザーリスト</title>
  <link rel="stylesheet" th:href="@{/css/global.css}" />
  <script defer th:src="@{/js/script.js}"></script>
</head>
<body>
	<div class="layout--narrow">
		<div th:replace="fragment/common :: header"></div>
		
		<div class="main">			
			<H2 style="text-align: center;">不正なアクセスです</H2>
		</div>
	</div>
</body>
</html>