<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <title>ユーザーリスト</title>
  <link rel="stylesheet" th:href="@{/css/global.css}" />
  <script th:inline="javascript">
      const deleteUrlBase = /*[[@{/users/}]]*/ "";
  </script>
  <script defer th:src="@{/js/script.js}"></script>
</head>
<body>
	<div class="layout">
		
		<div th:replace="fragment/common :: header"></div>
		
		<!--ユーザー一覧-->
		<main class="main">			
			<section class="display__block">
				<div class="display__inputs">			
					<input type="text" id="userNameFilter" class="text-box" placeholder="正規表現で絞り込み">				
				</div>

				<div class="display__actions">
					<button id="getUsersButton" class="btn btn--sm btn-positive">ユーザー一覧検索</button>
				</div>

				<table class="display__list display__list--users">
					<thead class="list-row--header">
						<tr class="list-row">
							<th>ID</th>
							<th>ユーザー名</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody th:fragment="userListFragment" id="userTableBody" class="list-row--body">
						<!-- データがない場合 -->
						<tr th:if="${#lists.isEmpty(userList)}">
						    <td colspan="3">データがありません</td>
						</tr>
						
						<!-- データがある場合-->
						<tr th:each="user : ${userList}" class="list-row">
							<td th:text="${user.id}"></td>
							<td th:text="${user.name}"></td>
							<td>
								<a 
									th:if="${loginUser.role == 1}"
									th:href="@{admin/user/edit/{id}(id=${user.id})}"
									class="btn btn-positive btn--sm add-skill-btn">
									編集
								</a>
							</td>
							<td>
								<button
									class="btn btn-negative btn--sm delete-user-btn" 
									th:data-id="${user.id}"
									sec:authorize="hasRole('ADMIN')">									
									削除
								</button>
							</td>
							<td>
								<a 
									th:if="${loginUser.role == 1 or loginUser.id == user.id}"
									th:href="@{users/{id}/skills/new(id=${user.id})}"
									class="btn btn-primary btn--sm add-skill-btn">
									スキル登録
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
		</main>
	</div>
	
</body>
</html>